<div class="main-content">
    <div class="container-fluid mt-5">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-end align-items-end ">

                    <div class="w-25 mr-4">
                        <mat-form-field>
                            <mat-select placeholder="Liste des transporteurs">
                                <mat-option *ngFor="let provider of providers" [value]="provider.value">
                                    {{ provider.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <a mat-raised-button [routerLink]="['/package/add-provider']" class="btn btn-outline-success mr-1">
                        <i class="fa fa-plus mr-2"></i> Ajouter un fournisseur
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ tableData1.headerRow[0] }}</th>
                            <th>{{ tableData1.headerRow[1] }}</th>
                            <th>{{ tableData1.headerRow[2] }}</th>
                            <th>{{ tableData1.headerRow[3] }}</th>
                            <th>{{ tableData1.headerRow[4] }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let row of tableData1.dataRows">
                            <td class="">{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td>
                            <td class="td-actions">
                                <button mat-raised-button type="button" class="btn btn-info mr-1">
                                    <i class="material-icons">person</i>
                                </button>
                                <button mat-raised-button type="button" class="btn btn-success mr-1">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button mat-raised-button type="button" class="btn btn-danger">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
