<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black"
         style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
                    <form class="form" method="" action="" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                        <div class="card card-login">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Authentication</h4>
                            </div>
                            <div class="card-body ">
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input type="email" class="form-control" formControlName="email" placeholder="Email...">
                  </div>
                </span>
                                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password...">
                  </div>
                </span>
                            </div>
                            <div class="card-footer justify-content-center">
                                <button mat-button class="btn btn-primary btn-lg" type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer ">
            <div class="container">
                <div class="copyright pull-right">
                    &copy;
                    {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
                    <a href="https://www.consultia.io/" target="_blank">Consultia.io</a>
                </div>
            </div>
        </footer>
    </div>
</div>
