<div class="main-content ">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="fa fa-truck-fast"></i>
            </div>
            <p class="card-category text-uppercase text-black-50">Livre</p>
            <h3 class="card-title">1</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              Tous les colis livrés
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="fa fa-toolbox"></i>
            </div>
            <p class="card-category text-uppercase text-black-50">En préparation</p>
            <h3 class="card-title">0</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              Colis en cours de préparation
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="fa fa-truck-ramp-box"></i>
            </div>
            <p class="card-category text-uppercase text-black-50">Au point relais</p>
            <h3 class="card-title">1</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              Disponibles au point relais
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-filter"></i>
            </div>
            <p class="card-category text-uppercase text-black-50">Au Centre de tri</p>
            <h3 class="card-title">3</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              Disponibles au depots
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="fa fa-boxes-packing"></i>
            </div>
            <p class="card-category text-uppercase text-black-50">TOUS LES COLIS</p>
            <h3 class="card-title">1</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              la totalité des colis
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="fa fa-people-carry-box"></i>
            </div>
            <p class="card-category text-uppercase text-black-50">EN COURS</p>
            <h3 class="card-title">3</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              Les colis pris en charge par nos chauffeurs
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="fa fa-rotate-left"></i>
            </div>
            <p class="card-category text-uppercase text-black-50">RETOURNÉ</p>
            <h3 class="card-title">0</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              Les colis récupérés par l'éxpéditeur
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>